<div class="w-full">
  <h1 class="text-2xl">All Tasks</h1>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-6 bg-gray-50 max-h-screen"
  >

  <% if (tasks.length > 0) { %>
    <!-- Task Card -->
    <% tasks.forEach(ele => { %>
    <div
      class="<%= ele.priority === "high" ? 'bg-red-200 border-red-500' : "" %> <%= ele.priority === "medium" ? 'bg-yellow-200, border-yellow-500' : "" %> <%= ele.priority === "low" ? 'bg-green-200 border-green-500' : "" %> shadow-md rounded-2xl p-4 border hover:shadow-lg transition"
    >
      <h2 class="text-lg font-semibold text-gray-800">
        Title: <%= ele.title %>
      </h2>
      <p class="text-sm text-gray-600 mt-2">
        Description: <%= ele.description %>
      </p>

      <div class="mt-3 flex flex-col gap-1 text-sm">
        <p><span class="font-semibold">Priority: </span><%= ele.priority %></p>
        <p><span class="font-semibold">Status: </span><%= ele.status %></p>
        <p>
          <span class="font-semibold">Created By: </span><%= ele.createdByName %> (<%= ele.createdByEmail %>)
        </p>
        <p>
          <span class="font-semibold">Created Date: </span><%= ele.createdAt.toLocaleString() %>
        </p>
        <p>
          <span class="font-semibold">Deadline Date: </span><%= ele.
          deadline.toLocaleString() %>
        </p>
        <p>
          <span class="font-semibold">Attachments: </span>
          <% if (ele.attachments && ele.attachments.length > 0) { %>
            <% ele.attachments.forEach(att => { %>
              <a href="<%= att.fileUrl %>" class="text-blue-500 hover:underline">
              <%= att.fileName %>
              </a>
            <% }) %>
          <% } else { %>
            No Attachments
          <% } %>
        </p>
        <a href="/user/task/<%= ele._id %>" class="text-blue-500 hover:underline">View Details</a>
      </div>
    </div>
    <% }) %>
  <% } else { %>
   <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-40">
    <div class="bg-white p-6 rounded-2xl shadow-lg text-center max-w-sm">
      <h2 class="text-xl font-bold text-green-600">No Task Available</h2>
      <button onclick="this.parentElement.parentElement.remove()" 
        class="mt-4 px-4 py-2 bg-green-600 text-white rounded-xl hover:bg-green-700">
        Close
      </button>
    </div>
  </div>
  <% } %>
    <!-- Task Card -->
    

  </div>
</div>